@model QuizCreateModel
<div id="quiz-create-form-container">
    <span id="quiz-create-trigger">New Quiz</span>
    <form id="quiz-create-form" method="post" action="~/Quizzes/Create">
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Create New Quiz</legend>
            <div class="form-tab">
                <label for="CategoryId">Category</label>
                @Html.ValidationField(x => x.CategoryId, Html.BuildSelectMenu(ViewData["categories"] as IEnumerable<SelectListItem>))
            </div>
            <div class="form-tab">
                <label for="Title">Title</label>
                @Html.ValidationField(x => x.Title, "input", new { type = "text" })
            </div>
        </fieldset>
        <input type="submit" value="Submit" />
    </form>
</div>
