@model SimpleDataPager<QuizAuthorViewModel>

@Html.Partial("_Create", new QuizCreateModel { })
@Html.Partial("_GridViewFilters", Model)
<div id="grid-container">
    @Html.Partial("_GridView", Model)
</div>
@section Scripts {
<script src="~/Scripts/custom/quiz-author-index.js"></script>
}