body, html, div, ul, li, span, p, h1, h2, h3, h4, h5, h6, input, textarea, button {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

html {
  width: 100%; }

body {
  width: 100%;
  font-size: 16px;
  font-family: Arial; }

ul {
  list-style: none; }

header {
  width: 100%; }

.container {
  position: relative;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid blue; }

footer {
  width: 100%; }

form {
  width: 420px; }
  form.large {
    width: 100%; }
  form .form-tab {
    margin-bottom: 30px; }

form.compact {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: bottom;
  width: auto; }

input[type=text], input[type=password], textarea, select {
  padding: 5px;
  margin: 0;
  width: 200px; }

.form-tab {
  position: relative;
  width: 100%;
  z-index: 2; }

.form-tab label {
  float: left;
  width: 150px;
  text-align: right;
  margin-right: 10px;
  margin-top: 5px; }

.errors-container {
  height: 50px;
  position: absolute;
  top: -15px;
  left: 100%;
  margin-left: 20px;
  padding-left: 55px;
  text-align: left;
  background-color: red;
  border-radius: 5px;
  background: #bd0000 url("/img/caution.png") 10px 50% no-repeat;
  background-size: 30px 30px;
  opacity: 0.95; }

.errors-container .errors-wrapper {
  line-height: 48px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  max-height: 100%; }

.error-element {
  display: block;
  color: white;
  margin-right: 10px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
  float: left;
  clear: left; }

.errors-container .arrow-div {
  border: 10px dashed #bd0000;
  border-left: 0px;
  border-left-style: none;
  border-right-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0);
  height: 0px;
  top: 25%;
  position: absolute;
  left: -10px; }

/*Menu*/
header {
  width: 95%;
  padding: 10px 2.5%;
  background-color: black; }

.menu-list {
  font-size: 1.1em; }
  .menu-list li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: bottom;
    padding: 5px 10px; }
  .menu-list a {
    text-decoration: none;
    color: white; }

.site-menu {
  float: left;
  text-align: center; }
  .site-menu li {
    position: relative;
    z-index: 5; }
    .site-menu li a:hover {
      color: blue; }
  .site-menu li span {
    color: white; }
  .site-menu li > ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    opacity: 0.9; }
    .site-menu li > ul li {
      display: block;
      padding: 10px; }
  .site-menu li:hover ul {
    display: block; }

.auth-menu {
  float: right; }

/*Questions*/
.question-edit-box {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: bottom;
  width: 550px;
  min-height: 530px;
  background-color: white;
  border-radius: 10px; }
  .question-edit-box .form-tab h3 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: bottom; }
  .question-edit-box .form-tab .large-btn {
    float: right; }
  .question-edit-box ul {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 284px;
    overflow-y: auto;
    overflow-x: hidden; }
    .question-edit-box ul li {
      height: 70px;
      overflow: hidden;
      border-bottom: 1px solid black; }
    .question-edit-box ul li span {
      margin: 10px;
      margin-top: 20px;
      float: left;
      background: url("/img/unchecked-box.png") 0 0 no-repeat;
      width: 30px;
      height: 30px;
      cursor: pointer; }
    .question-edit-box ul li input[type=radio] {
      cursor: pointer;
      display: none; }
    .question-edit-box ul p {
      height: 60px;
      cursor: default;
      overflow: hidden;
      padding: 5px;
      padding-top: 10px;
      color: black;
      font-family: arial;
      font-size: 0.9em; }
    .question-edit-box ul li#right-answer-row {
      background-color: teal; }
      .question-edit-box ul li#right-answer-row span {
        background: url("/img/checked-box.png") 0 0 no-repeat; }
      .question-edit-box ul li#right-answer-row p {
        font-weight: 600;
        color: white; }
    .question-edit-box ul .command-tab {
      margin: 10px;
      margin-top: 20px;
      float: right; }
      .question-edit-box ul .command-tab input {
        margin-right: 15px; }
  .question-edit-box > .command-tab {
    text-align: center;
    padding: 5px; }
  .question-edit-box .form-tab > textarea {
    resize: none;
    overflow: auto;
    width: 536px;
    height: 80px;
    font-family: arial;
    font-size: 1.1em;
    margin-bottom: 10px; }
  .question-edit-box .form-tab > textarea.active {
    background-color: #FFEE75;
    border-width: 1px;
    color: black; }
  .question-edit-box .form-tab > textarea.inactive {
    color: #303030;
    cursor: pointer;
    border-width: 1px;
    border-color: Transparent;
    background-color: #DBFFAF; }
  .question-edit-box .form-tab > textarea#empty {
    background-color: #FF4F49;
    text-align: center;
    color: white; }
  .question-edit-box .answer-edit, .question-edit-box .answer-delete {
    margin-top: 50px;
    text-align: center; }
    .question-edit-box .answer-edit textarea, .question-edit-box .answer-delete textarea {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: bottom;
      width: 80%;
      background-color: #FFEE75; }
    .question-edit-box .answer-edit p, .question-edit-box .answer-delete p {
      padding: 20px;
      font-style: italic;
      color: #303030; }
    .question-edit-box .answer-edit .command-tab, .question-edit-box .answer-delete .command-tab {
      text-align: center;
      margin-top: 10px; }

/*que*/
#questions-list {
  padding: 0 5%;
  font-family: Verdana, sans-serif;
  margin-top: 10px; }
  #questions-list.clickable li {
    cursor: pointer; }
  #questions-list li {
    cursor: default;
    position: relative;
    background-color: #9BFFB4;
    border-radius: 10px;
    margin-bottom: 6px;
    padding: 5px;
    top: 0;
    left: 0; }
    #questions-list li > .clearfix > h4 {
      text-align: center;
      float: left;
      margin: 0;
      padding: 0;
      margin-top: -10px;
      font-size: 2em;
      width: 10%; }
    #questions-list li .question-container {
      margin: 0;
      padding: 0;
      width: 89%;
      float: right; }
    #questions-list li > .clearfix p {
      margin-top: 10px;
      font-size: 0.8em;
      text-align: justify; }
    #questions-list li span {
      font-size: 0.8em; }
    #questions-list li #question-pop-up {
      margin-top: 10px;
      border-top: 1px solid black;
      padding-top: 10px;
      text-align: center;
      position: relative;
      top: 0;
      left: 0; }
      #questions-list li #question-pop-up .confirm-window {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 10%;
        left: 0;
        text-align: center;
        color: red;
        font-weight: 700; }
      #questions-list li #question-pop-up > div {
        text-align: left; }
        #questions-list li #question-pop-up > div span {
          float: left;
          font-size: 0.6em; }
        #questions-list li #question-pop-up > div .total-answers {
          font-size: 1.4em;
          margin-top: -10px;
          margin-left: 10px;
          color: teal; }
      #questions-list li #question-pop-up .action-panel {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: bottom; }
        #questions-list li #question-pop-up .action-panel input {
          float: left; }
      #questions-list li #question-pop-up .answer-box {
        margin: 10px 0px;
        text-align: left; }
        #questions-list li #question-pop-up .answer-box span {
          float: left;
          font-size: 0.6em;
          margin-right: 10px; }
        #questions-list li #question-pop-up .answer-box p {
          padding: 0;
          font-size: 0.8em;
          color: brown; }
  #questions-list .active-question, #questions-list.clickable .active-question {
    background-color: #F9FF5B;
    cursor: default; }
    #questions-list .active-question .clearfix > p, #questions-list.clickable .active-question .clearfix > p {
      font-size: 0.9em;
      color: #303030; }

/*overlay*/
.overlay-surface {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  opacity: 0.8;
  z-index: 10; }

.overlay-box {
  position: fixed;
  border-radius: 10px;
  top: 5%;
  left: 25%;
  z-index: 11; }

.overlay-container {
  position: relative;
  top: 0;
  left: 0; }

.overlay-root {
  position: relative;
  top: 0;
  left: 0; }

/*pager*/
/*Common*/
.overlay-box .confirm-window {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  color: red;
  fontWeight: 800; }
  .overlay-box .confirm-window p {
    margin: 10px; }

.clearfix:after, .form-tab:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  zoom: 1; }

input[type=button], input[type=submit].button, a.button {
  opacity: 1;
  font-size: 1em;
  text-align: center;
  padding: 5px;
  color: white;
  background-color: teal;
  border-radius: 5px;
  width: 80px;
  border: none;
  margin: 5px;
  cursor: pointer; }

a.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: bottom;
  text-decoration: none;
  width: 70px; }

input[type=button].large-btn {
  width: auto;
  font-weight: 800; }

input[type=button].accept-btn {
  background-color: teal;
  font-size: 1.2em;
  width: 100px;
  opacity: 0.9; }

input[type=button].reject-btn {
  background-color: #bd0000;
  font-size: 1.2em;
  width: 100px;
  opacity: 0.9; }

input[type=submit] {
  background-color: #bd0000;
  font-size: 1.2em;
  opacity: 0.9;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  color: white;
  margin: 20px 5px;
  border-radius: 10px; }

input.small-input {
  text-align: center;
  width: 30px; }

input[type=button].edit-img-btn {
  width: 20px;
  height: 20px;
  background: url("/img/edit-img.png") 0 0 no-repeat; }

input[type=button].delete-img-btn {
  width: 20px;
  height: 20px;
  background: url("/img/delete-img.png") 0 0 no-repeat; }

p {
  word-wrap: break-word; }

h2, h3, h4 {
  color: #303030;
  padding: 5px; }

h2 {
  padding: 10px; }

.error-msg, .success-msg {
  max-width: 100%;
  padding: 10px;
  color: white;
  border-radius: 10px;
  padding-left: 50px;
  background: url("/img/caution.png") 10px 50% no-repeat; }
  .error-msg h4, .success-msg h4 {
    color: white;
    font-size: 1.6em;
    padding: 0 20px; }
  .error-msg p, .success-msg p {
    padding: 10px 20px; }

.error-msg {
  background-color: #bd0000; }

.success-msg {
  background-color: #2877FF; }

.loader {
  width: 150px;
  height: 150px;
  background: url("/img/loader-10.gif") 0 0 no-repeat; }

#categories-list {
  position: relative;
  padding: 20px 10%;
  padding-left: 0;
  width: 60%; }
  #categories-list .edit-mode {
    display: none; }
  #categories-list .view-mode, #categories-list .edit-mode {
    zoom: 1; }
    #categories-list .view-mode :after, #categories-list .edit-mode :after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
  #categories-list #selected .edit-mode {
    display: block; }
  #categories-list #selected .view-mode {
    display: none; }
  #categories-list #selected input[type=button] {
    background-color: red; }
  #categories-list li {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    zoom: 1; }
    #categories-list li p {
      padding: 5px;
      width: 70%;
      margin-top: 5px;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: bottom;
      float: left;
      margin: 5px;
      margin-bottom: 6px;
      margin-right: 10px; }
    #categories-list li :after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
    #categories-list li input[type=text] {
      float: left;
      width: 70%;
      margin: 5px;
      margin-right: 10px; }
    #categories-list li input[type=button] {
      float: right; }

#quiz-create-form-container {
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  margin-left: 5%;
  padding: 5px 0;
  text-align: center;
  position: relative; }
  #quiz-create-form-container > #quiz-create-trigger {
    display: block;
    padding: 5px;
    border-radius: 25px;
    background-color: teal;
    position: absolute;
    left: 45%;
    top: -100%;
    color: white;
    cursor: pointer; }
  #quiz-create-form-container > #quiz-create-trigger.activated {
    top: -5%; }
  #quiz-create-form-container #quiz-create-form.active-form {
    display: block; }

#quiz-create-form {
  display: none;
  text-align: center;
  padding-right: 30%;
  padding-top: 10px;
  padding-left: 30%;
  padding-bottom: 0;
  width: 40%;
  background-color: white; }
  #quiz-create-form .form-tab label {
    width: 100px; }
  #quiz-create-form select {
    padding: 0 0;
    height: 30px; }
    #quiz-create-form select option {
      color: red; }
  #quiz-create-form fieldset {
    text-align: left;
    padding-top: 10px; }
  #quiz-create-form input[type=submit] {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: bottom; }

.validation-summary-errors {
  overflow: auto;
  text-align: center; }
  .validation-summary-errors li {
    color: red;
    padding: 10px; }

table.grid-view {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-size: 0.8em; }
  table.grid-view thead {
    background-color: teal; }
    table.grid-view thead th {
      color: white;
      padding: 10px 0; }
      table.grid-view thead th a {
        text-decoration: none;
        font-weight: 700;
        color: white; }
      table.grid-view thead th .asc {
        color: #303030;
        padding-right: 25px;
        background: url("/img/arrow-up.png") 100% 0 no-repeat; }
      table.grid-view thead th .desc {
        color: #303030;
        padding-right: 25px;
        background: url("/img/arrow-down.png") 100% 0 no-repeat; }
  table.grid-view th.size05 {
    width: 5%; }
  table.grid-view th.size1 {
    width: 10%; }
  table.grid-view th.size2 {
    width: 20%; }
  table.grid-view th.size3 {
    width: 30%; }
  table.grid-view th.size4 {
    width: 40%; }
  table.grid-view th.size5 {
    text-align: left;
    width: 50%; }
  table.grid-view td, table.grid-view th {
    border: 1px solid black;
    overflow: hidden;
    word-wrap: break-word;
    padding: 5px 5px; }
    table.grid-view td p, table.grid-view th p {
      width: 100%; }
  table.grid-view tbody tr:nth-of-type(2n) {
    background-color: #F8FFA3; }
  table.grid-view tbody td {
    border-bottom: none;
    border-top: none; }
  table.grid-view .left {
    text-align: left; }
  table.grid-view tfoot {
    text-align: center; }
    table.grid-view tfoot span, table.grid-view tfoot a {
      text-align: center;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: bottom;
      padding: 5px 10px;
      margin: 0px 5px;
      vertical-align: middle; }
    table.grid-view tfoot a {
      text-decoration: none;
      color: white;
      background-color: teal; }
    table.grid-view tfoot span {
      font-size: 1.5em;
      font-weight: 700;
      color: teal; }
    table.grid-view tfoot div.total-results {
      float: right;
      margin: 10px; }

.filters-form {
  width: 100%;
  margin-bottom: 20px;
  font-size: 0.8em;
  margin-top: 10px; }
  .filters-form label, .filters-form input, .filters-form span, .filters-form select {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: bottom;
    vertical-align: middle;
    margin: 5px; }
  .filters-form label {
    width: 100px; }
  .filters-form div {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: bottom;
    vertical-align: middle;
    margin: 5px 0.5%;
    width: 48%; }
  .filters-form .accept-btn {
    display: block;
    margin: 0; }

